<ion-tabs id="tabsController-tabs1">
  <ion-tab [root]="tab3Root" tabTitle="Login" tabIcon="buffer" id="tabsController-tab3"></ion-tab>
  <ion-tab [root]="tab1Root" tabTitle="Add Room" tabIcon="build" id="tabsController-tab1"></ion-tab>
  <ion-tab [root]="tab4Root" tabTitle="Room List" tabIcon="buffer" id="tabsController-tab4"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="Add Asset" tabIcon="albums" id="tabsController-tab2"></ion-tab>
  <ion-tab [root]="tab5Root" tabTitle="Asset List" tabIcon="buffer" id="tabsController-tab5"></ion-tab>
  <ion-tab [root]="tab6Root" tabTitle="Add Structure" tabIcon="buffer" id="tabsController-tab6"></ion-tab>
  <ion-tab [root]="tab7Root" tabTitle="Structure List" tabIcon="buffer" id="tabsController-tab7"></ion-tab>
  <ion-tab [root]="tab8Root" tabTitle="Add Floor" tabIcon="buffer" id="tabsController-tab8"></ion-tab>
  <ion-tab [root]="tab9Root" tabTitle="Floor List" tabIcon="buffer" id="tabsController-tab9"></ion-tab>
</ion-tabs>
