<ion-header>
  <ion-navbar color='navbarColor'>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Add Asset
    </ion-title>

    <ion-buttons end *ngIf="rowId">
      <button ion-button icon-only (click)="deleteAsset(rowId)">
        <ion-icon ios="ios-trash" md="md-trash"></ion-icon>
      </button>
    </ion-buttons>

  </ion-navbar>
</ion-header>
<ion-content padding id="page4">
  <form id="addAssetPM360-form5">

    <ion-item id="addAssetPM360-select4" *ngIf="!isRoomLoading">
      <ion-label>
        Select Room
      </ion-label>
      <ion-select name="room" [(ngModel)]="selectedRoom" (ionChange)="onChange(selectedRoom)">
        <ion-option *ngFor="let room of roomList" value="{{room.sys_id}}">
          {{room.room_name}}
        </ion-option>
      </ion-select>
    </ion-item>

    <div class="item item-block item-md item-input ng-untouched ng-pristine ng-valid" *ngIf="isRoomLoading">
      <div class="item-inner">
        <ion-label class="label label-md" id="lbl-116">
          Loading Rooms...
        </ion-label>
      </div>
      <ion-spinner name="crescent" class="spinner spinner-md spinner-crescent spinner-md-crescent">
      </ion-spinner>
    </div>

    <ion-item id="addAssetPM360-input13">
      <ion-label>
        Asset Name
      </ion-label>
      <ion-input type="text" [(ngModel)]="data.asset_name" name="asset_name"  #assetName></ion-input>
    </ion-item>
    <ion-item id="addAssetPM360-input14">
      <ion-label>
        Asset Number
      </ion-label>
      <ion-input type="text" [(ngModel)]="data.asset_number" name="asset_number"  #assetNumber></ion-input>
    </ion-item>
    <ion-item id="addAssetPM360-textarea2">
      <ion-label>
        Asset Description
      </ion-label>
      <ion-textarea  [(ngModel)]="data.asset_description" name="asset_description"  #assetDescription></ion-textarea>
    </ion-item>

    <ion-item id="addAssetPM360-select5" *ngIf="!isAssetTypeLoading">
      <ion-label>
        Select Asset Type
      </ion-label>
      <ion-select name="asset_type" [(ngModel)]="selectedAssetType" (ionChange)="onChange(selectedAssetType)">
        <ion-option *ngFor="let assetType of assetTypeList" value="{{assetType.sys_id}}">
          {{assetType.label}}
        </ion-option>
      </ion-select>
    </ion-item>

    <div class="item item-block item-md item-input ng-untouched ng-pristine ng-valid" *ngIf="isAssetTypeLoading">
      <div class="item-inner">
        <ion-label class="label label-md" id="lbl-136">
          Loading Asset Type...
        </ion-label>
      </div>
      <ion-spinner name="crescent" class="spinner spinner-md spinner-crescent spinner-md-crescent">
      </ion-spinner>
    </div>

    <ion-item id="addAssetPM360-input15">
      <ion-label>
        Asset Manufacturer
      </ion-label>
      <ion-input type="text"  [(ngModel)]="data.asset_manufacturer" name="asset_manufacturer"  #assetManf></ion-input>
    </ion-item>
    <ion-item id="addAssetPM360-input16">
      <ion-label>
        Asset Model
      </ion-label>
      <ion-input type="text" [(ngModel)]="data.asset_model" name="asset_model"  #assetModel></ion-input>
    </ion-item>
    <ion-item id="addAssetPM360-input17">
      <ion-label>
        Asset Serial Number
      </ion-label>
      <ion-input type="text"  [(ngModel)]="data.asset_number" name="asset_number"  #assetSn></ion-input>
    </ion-item>
    <ion-item id="addAssetPM360-input18">
      <button ion-button on-click="scanQR()">
        <ion-icon name="qr-scanner"> Scan QR</ion-icon>
      </button>
    </ion-item>
    <ion-item id="addAssetPM360-input19">
      <ion-label>
        Asset QR Text or No#
      </ion-label>
      <ion-input type="text"  [(ngModel)]="data.qrValue" name="qrValue"  value="{{qrValue}}" #assetQrText></ion-input>
    </ion-item>

    <ion-item>
      <button ion-button on-click="takePhoto()">
        <ion-icon name="camera"> Capture Photo</ion-icon>
      </button>
      <!--<button ion-button on-click="pickPhoto()">-->
        <!--<ion-icon name="images"> Pick Photo</ion-icon>-->
      <!--</button>-->
      <ion-grid>
        <ion-row>
          <ion-col col-6 *ngFor="let photo of photos;">
            <ion-card>
              <img [src]="photo"/>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
    <button id="addAssetPM360-button3" ion-button color="positive" block on-click="goToAsset()">
      Save Asset
    </button>
  </form>
</ion-content>
