<!--
  Generated template for the StructureListPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color='navbarColor'>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Structure Entries</ion-title>
    <ion-buttons end>
      <!--<button ion-button icon-only (click)="openModal()">-->
      <button ion-button icon-only (click)="syncStructure()">
        <ion-icon ios="ios-cloud-upload" md="md-cloud-upload"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>
    <ion-item nopadding *ngFor="let structure of structures; let i=index">
      <p (click)="editStructure(structure.rowId)">
        <span><b>{{structure.structure_name}}</b></span><br>
        {{structure.structure_city}}<br>
        {{structure.structure_description}}
      </p>
    </ion-item>
  </ion-list>
</ion-content>
