<!--
  Generated template for the AddStructurePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color='navbarColor'>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Add Structure</ion-title>
    <ion-buttons end *ngIf="rowId">
      <button ion-button icon-only (click)="deleteStructure(rowId)">
        <ion-icon ios="ios-trash" md="md-trash"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content padding id="page5">
  <form id="addAssetPM360-form5">
    <ion-item id="addAssetPM360-input13">
      <ion-label>
        Structure Name
      </ion-label>
      <ion-input type="text" [(ngModel)]="data.structure_name" name="structure_name" #structureName></ion-input>
    </ion-item>
    <ion-item id="addAssetPM360-textarea2">
      <ion-label>
        Structure Description
      </ion-label>
      <ion-textarea [(ngModel)]="data.structure_description" name="structure_description"
                    #structureDescription></ion-textarea>
    </ion-item>
    <ion-item id="addAssetPM360-textarea3">
      <ion-label>
        Structure Square Footage
      </ion-label>
      <ion-input type="text" [(ngModel)]="data.structure_square_footage" name="structure_square_footage" #structureSqFt></ion-input>
    </ion-item>

    <ion-item id="addAssetPM360-select5" *ngIf="!isStructureTypeLoading">
      <ion-label>
        Select Structure Type
      </ion-label>
      <ion-select name="structure_type" [(ngModel)]="selectedStructureType" (ionChange)="onChange(selectedStructureType)">
        <ion-option *ngFor="let structureType of structureTypeList" value="{{structureType.sys_id}}">
          {{structureType.u_description}}
        </ion-option>
      </ion-select>
    </ion-item>

    <div class="item item-block item-md item-input ng-untouched ng-pristine ng-valid" *ngIf="isStructureTypeLoading">
      <div class="item-inner">
        <ion-label class="label label-md">
          Loading Structure Type...
        </ion-label>
      </div>
      <ion-spinner name="crescent" class="spinner spinner-md spinner-crescent spinner-md-crescent">
      </ion-spinner>
    </div>

    <ion-item id="addAssetPM360-input15" *ngIf="!isLocationLoading">
      <ion-label>
        Select Location
      </ion-label>
      <ion-select name="location_list" [(ngModel)]="selectedLocation" (ionChange)="onChange(selectedLocation)">
        <ion-option *ngFor="let location of locationList" value="{{location.sys_id}}">
          {{location.location_name}}
        </ion-option>
      </ion-select>
    </ion-item>

    <div class="item item-block item-md item-input ng-untouched ng-pristine ng-valid" *ngIf="isLocationLoading">
      <div class="item-inner">
        <ion-label class="label label-md">
          Loading Location...
        </ion-label>
      </div>
      <ion-spinner name="crescent" class="spinner spinner-md spinner-crescent spinner-md-crescent">
      </ion-spinner>
    </div>

    <ion-item id="addAssetPM360-input1" *ngIf="!isStateLoading">
      <ion-label>
        Select State
      </ion-label>
      <ion-select name="state_list" [(ngModel)]="selectedState" (ionChange)="onChange(selectedState)">
        <ion-option *ngFor="let state of stateList" value="{{state.sys_id}}">
          {{state.state_short_name}}
        </ion-option>
      </ion-select>
    </ion-item>

    <div class="item item-block item-md item-input ng-untouched ng-pristine ng-valid" *ngIf="isStateLoading">
      <div class="item-inner">
        <ion-label class="label label-md">
          Loading States...
        </ion-label>
      </div>
      <ion-spinner name="crescent" class="spinner spinner-md spinner-crescent spinner-md-crescent">
      </ion-spinner>
    </div>

    <ion-item id="addAssetPM360-input17">
      <ion-label>
        Structure City
      </ion-label>
      <ion-input type="text" [(ngModel)]="data.structure_city" name="structure_city" #structureCity></ion-input>
    </ion-item>
    <ion-item id="addAssetPM360-input19">
      <ion-label>
        Structure Zip Code
      </ion-label>
      <ion-input type="text" [(ngModel)]="data.structure_zip_code" name="structure_zip_code"
                 #structureZipCode></ion-input>
    </ion-item>
    <ion-item id="addAssetPM360-input21">
      <ion-label>
        Structure Mail Address
      </ion-label>
      <ion-input type="text" [(ngModel)]="data.structure_mail_address" name="structure_mail_address"
                 #structureMailAddress></ion-input>
    </ion-item>
    <button id="addAssetPM360-button3" ion-button color="positive" block on-click="saveStructure()">
      Save Structure
    </button>
  </form>

</ion-content>
