<!--
  Generated template for the AddStructurePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color='navbarColor'>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Add Floor</ion-title>
    <ion-buttons end *ngIf="rowId">
      <button ion-button icon-only (click)="deleteFloor(rowId)">
        <ion-icon ios="ios-trash" md="md-trash"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content padding id="page5">
  <form id="addAssetPM360-form5" >

    <ion-item id="addAssetPM360-select5" *ngIf="!isLoading">

      <ion-label>
        Select Structure
      </ion-label>

      <ion-select name="dropdown" [(ngModel)]="selectedStructure" (ionChange)="onChange(selectedStructure)">
        <ion-option *ngFor="let structure of structureList" value="{{structure.sys_id}}">
          {{structure.structure_name}}
        </ion-option>
      </ion-select>

    </ion-item>

    <div class="item item-block item-md item-input ng-untouched ng-pristine ng-valid" *ngIf="isLoading">
      <div class="item-inner">
        <ion-label class="label label-md" id="lbl-16">
          Loading Structures...
        </ion-label>
      </div>
      <ion-spinner name="crescent" class="spinner spinner-md spinner-crescent spinner-md-crescent">
      </ion-spinner>
    </div>

    <ion-item id="addAssetPM360-input13">
      <ion-label>
        Floor Name
      </ion-label>
      <ion-input type="text" [(ngModel)]="data.floor_name" name="floor_name" #floorName></ion-input>
    </ion-item>

    <ion-item id="addAssetPM360-textarea2">
      <ion-label>
        Floor Number
      </ion-label>
      <ion-input type="number" [(ngModel)]="data.floor_number" name="floor_number" #floorNumber></ion-input>
    </ion-item>
    <ion-item id="addAssetPM360-textarea4">
      <ion-label>
        Floor Description
      </ion-label>
      <ion-textarea type="text" #floorDescription name="floor_description"
                    [(ngModel)]="data.floor_description"></ion-textarea>
    </ion-item>
    <ion-item id="addAssetPM360-textarea3">
      <ion-label>
        Floor Square Footage
      </ion-label>
      <ion-input #floorSqFt type="text" name="floor_square_footage" [(ngModel)]="data.floor_square_footage"></ion-input>
    </ion-item>
    <button id="addAssetPM360-button3" ion-button color="positive" block on-click="saveFloor()">
      Save Floor
    </button>
  </form>

</ion-content>
