<!--
  Generated template for the AddFloorPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color='navbarColor'>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Floor Entries</ion-title>

    <ion-buttons end>
      <!--<button ion-button icon-only (click)="openModal()">-->
      <button ion-button icon-only (click)="syncFloor()">
        <ion-icon ios="ios-cloud-upload" md="md-cloud-upload"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>
    <ion-item nopadding *ngFor="let floor of floors; let i=index">
      <p (click)="editFloor(floor.rowId)">
        <span><b>{{floor.floor_name}}</b></span><br>
        <b>No#</b>{{floor.floor_number}}<br>
        {{floor.floor_description}}
      </p>
    </ion-item>
  </ion-list>
</ion-content>
