page-add-room-pm360 {

}
ion-item {
  padding: 0 5px !important;
}

button{
  margin-top: 8px !important;
}

.block{
  position: relative;
  .deleteIcon{
    position: absolute;
    margin-left: 90%;
    margin-top: 5px;
    color: #ffffff;
  }
}
