<ion-header>
  <ion-navbar color='navbarColor'>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Add Room
    </ion-title>
    <ion-buttons end *ngIf="rowId">
      <button ion-button icon-only (click)="deleteRoom(rowId)">
        <ion-icon ios="ios-trash" md="md-trash"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content padding id="page3">
  <form id="addRoomPM360-form2" #roomEntryForm>

    <ion-item id="addRoomPM360-select31" *ngIf="!isFloorLoading">
      <ion-label>
        Select Floor
      </ion-label>

      <ion-select name="floor" [(ngModel)]="selectedFloor" (ionChange)="onChange(selectedFloor)">

        <ion-option *ngFor="let floor of floorList; let i = index" value="{{floor.sys_id}}">
          {{floor.floor_name}}
        </ion-option>

      </ion-select>

    </ion-item>

    <div class="item item-block item-md item-input ng-untouched ng-pristine ng-valid" *ngIf="isFloorLoading">
      <div class="item-inner">
        <ion-label class="label label-md" id="lbl-126">
          Loading Floors...
        </ion-label>
      </div>
      <ion-spinner name="crescent" class="spinner spinner-md spinner-crescent spinner-md-crescent">
      </ion-spinner>
    </div>

    <ion-item id="addRoomPM360-input6">
      <ion-label>
        Room Name
      </ion-label>
      <ion-input type="text" [(ngModel)]="data.room_name" name="room_name" #room_name></ion-input>
    </ion-item>

    <ion-item id="addRoomPM360-input7">
      <ion-label>
        Room Number
      </ion-label>
      <ion-input type="text" name="room_number" [(ngModel)]="data.room_number" #room_number></ion-input>
    </ion-item>

    <ion-item id="addRoomPM360-textarea1">
      <ion-label>
        Room Description
      </ion-label>
      <ion-textarea type="text" name="room_description" [(ngModel)]="data.room_description" #room_desc></ion-textarea>
    </ion-item>
    <ion-item id="addRoomPM360-txtinput">
      <ion-label>
        Room Area
      </ion-label>
      <ion-input type="text" name="room_area" [(ngModel)]="data.room_area" #room_area></ion-input>
    </ion-item>
    <ion-item id="addRoomPM360-txtinput0">
      <ion-label>
        Room Link
      </ion-label>
      <ion-input type="text" name="room_link" [(ngModel)]="data.room_link" #room_link></ion-input>
    </ion-item>
    <ion-item id="addRoomPM360-txtinput1">
      <ion-label>
        Room Map
      </ion-label>
      <ion-input type="text" name="room_map" [(ngModel)]="data.room_map" #room_map></ion-input>
    </ion-item>
    <ion-item id="addRoomPM360-input9">
      <ion-label>
        Room Square Footage
      </ion-label>
      <ion-input type="number" name="room_square_footage" [(ngModel)]="data.room_square_footage"
                 #room_sq_ft></ion-input>
    </ion-item>

    <ion-item id="addRoomPM360-select1" *ngIf="!isPrimaryUseLoading">
      <ion-label>
        Select Primary Use
      </ion-label>

      <ion-select name="floor" [(ngModel)]="selectedPrimaryUse" (ionChange)="onChange(selectedPrimaryUse)">

        <ion-option *ngFor="let primaryUse of primaryUseList; let i = index" value="{{primaryUse.sys_id}}">
          {{primaryUse.primary_use_label}}
        </ion-option>

      </ion-select>

    </ion-item>

    <div class="item item-block item-md item-input ng-untouched ng-pristine ng-valid" *ngIf="isPrimaryUseLoading">
      <div class="item-inner">
        <ion-label class="label label-md" id="lbl-116">
          Loading Primary Use...
        </ion-label>
      </div>
      <ion-spinner name="crescent" class="spinner spinner-md spinner-crescent spinner-md-crescent">
      </ion-spinner>
    </div>

    <ion-item>
      <button ion-button on-click="takePhoto()">
        <ion-icon name="camera"> Capture Photo</ion-icon>
      </button>
      <!--<button ion-button on-click="pickPhoto()">-->
      <!--<ion-icon name="images"> Pick Photo</ion-icon>-->
      <!--</button>-->
      <ion-grid>
        <ion-row>
          <ion-col col-6 *ngFor="let photo of photos; let position = index">
            <ion-card class="block">
              <ion-icon name="close-circle" class="deleteIcon" (click)="deletePhoto(position)"></ion-icon>
              <img [src]=photo />
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
    <button id="addRoomPM360-button2" ion-button color="positive" block on-click="goToRoom()">
      Save Room
    </button>
  </form>

</ion-content>
