<ion-menu [content]="mainContent">
  <ion-header>
    <ion-toolbar>
      <ion-title>
        PM360
      </ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content id="side-menu21">
    <ion-list id="menu-list1">

      <ion-item class="menu-item" color="none" menuClose="" on-click="goToAddRoomPM360()" id="menu-list-item5">
        Add Room
      </ion-item>
      <ion-item class="menu-item" color="none" menuClose="" on-click="goToRoomListPM360()" id="menu-list-item7">
        Room List
      </ion-item>
      <ion-item class="menu-item" color="none" menuClose="" on-click="goToAddAssetPM360()" id="menu-list-item6">
        Add Asset
      </ion-item>
      <ion-item class="menu-item" color="none" menuClose="" on-click="goToAssetListPM360()" id="menu-list-item8">
        Asset List
      </ion-item>
      <ion-item class="menu-item" color="none" menuClose="" on-click="goToAddStructurePM360()" id="menu-list-item9">
        Add Structure
      </ion-item>
      <ion-item class="menu-item" color="none" menuClose="" on-click="goToStructureListPM360()" id="menu-list-item10">
        Structure List
      </ion-item>
      <ion-item class="menu-item" color="none" menuClose="" on-click="goToAddFloorPM360()" id="menu-list-item11">
        Add Floor
      </ion-item>
      <ion-item class="menu-item" color="none" menuClose="" on-click="goToFloorListPM360()" id="menu-list-item12">
        Floor List
      </ion-item>
      <ion-item color="none" class="menu-item" menuClose="" on-click="goToLogoutPM360()" id="menu-list-item4">
      Logout
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-nav #mainContent [root]="rootPage"></ion-nav>
