<ion-content no-bounce padding id="page2" class="no-scroll">
  <div class="center-login">
    <img src="assets/imgs/pm360_small.png"/>
    <form id="loginPM360-form1">
      <ion-item id="loginPM360-input2">
        <ion-label>
          Username
        </ion-label>
        <ion-input type="text" value="al.noman" placeholder="PM360 User Name" #username>
        </ion-input>
      </ion-item>
      <ion-item id="loginPM360-input3">
        <ion-label>
          Password
        </ion-label>
        <ion-input type="password" value="n0m4n12101063+" placeholder="Password" #password>
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Remember Me</ion-label>
        <ion-checkbox [(ngModel)]="rememberMe" name="rememberMe" (ionChange)="updateRememberMe()"></ion-checkbox>
      </ion-item>
      <button id="loginPM360-button1" ion-button color="positive" block on-click="goToAddRoomPM360()">Login</button>
    </form>

  </div>

</ion-content>
