.center-login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

ion-item {
  padding: 0 5px !important;
}

button{
  margin-top: 8px !important;
  color: #e6a62b;
}

.no-scroll .scroll-content{
  overflow: hidden;
}

img {
  width: 320px;
  height: 140px;
}
