<!--
  Generated template for the RoomListPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color='navbarColor'>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Room Entries</ion-title>
    <ion-buttons end>
      <!--<button ion-button icon-only (click)="openModal()">-->
      <button ion-button icon-only (click)="syncRoom()">
        <ion-icon ios="ios-cloud-upload" md="md-cloud-upload"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>
    <ion-item nopadding *ngFor="let room of rooms; let i=index">
      <p (click)="editRoom(room.rowId)">
        <span><b>{{room.room_name}}</b></span><br>
        <b>No#</b>{{room.room_number}}<br>
        {{room.room_description}}
      </p>
    </ion-item>
  </ion-list>
</ion-content>
